<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- ============================= -->
	<!-- SIR AUTHENTIFICATION          -->
	<!-- ============================= -->
	<bean id="authenticationSirService" class="fr.pharma.eclipse.service.authentication.AuthenticationSirServiceImpl" />
	
	<!-- ============================= -->
	<!-- ECLIPSE AUTHENTIFICATION      -->
	<!-- ============================= -->
	<bean id="authenticationEclipseService" class="fr.pharma.eclipse.service.authentication.AuthenticationEclipseServiceImpl" />
	
	<!-- ============================= -->
	<!-- HELPER AUTHENTIFICATION      -->
	<!-- ============================= -->
	<bean id="authenticationHelper" class="fr.pharma.eclipse.service.authentication.helper.AuthenticationHelper" />

</beans>
