<?xml version="1.0" encoding="UTF-8"?>

<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">			
			
	<tx:annotation-driven/>
    <context:component-scan base-package="fr.pharma.eclipse" />
    <context:property-placeholder location="classpath:/config/project.properties,classpath:/config/hibernate.properties"/>

	<!-- =============== -->
	<!-- PARTIE COMMUNE  -->
	<!-- =============== -->	 
	<import resource="classpath:/config/applicationContext-common.xml" />	 
	<import resource="classpath:/config/applicationContext-common-sir.xml" />	 

	<!-- ================= -->
	<!-- PARTIE ECLIPSE    -->
	<!-- ================= -->
	<import resource="classpath:/config/applicationContext-security.xml" />
	<import resource="classpath:/config/applicationContext-authentication.xml" />
	<import resource="classpath:/config/applicationContext-flow.xml" />
	<import resource="classpath:/config/applicationContext-utils.xml" />
	<import resource="classpath:/config/applicationContext-manager.xml" />
	<import resource="classpath:/config/applicationContext-controller.xml" />
	<import resource="classpath:/config/applicationContext-converter.xml" />
	<import resource="classpath:/config/applicationContext-validator.xml" />
	<import resource="classpath:/config/applicationContext-eclipse-criteria.xml" />
	<import resource="classpath:/config/applicationContext-eclipse-factory.xml" />
	<import resource="classpath:/config/applicationContext-eclipse-helper.xml" />
	<import resource="classpath:/config/messages-resources-eclipse.xml" />

</beans>
