<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<beans:bean id="profiler" class="fr.pharma.eclipse.profiling.MethodExecutionProfiler" />

	<aop:config>
		<aop:aspect ref="profiler">

			<aop:pointcut id="commonServicemethodExecutionPointcut" expression="execution(* fr.pharma.eclipse.service.common..*(..))" />
			<aop:pointcut id="methodExecutionPointcut" expression="execution(* fr.pharma.eclipse.service..*ServiceImpl.*(..))" />

			<aop:around pointcut-ref="methodExecutionPointcut" method="profile" />
			<aop:around pointcut-ref="commonServicemethodExecutionPointcut" method="profile" />

		</aop:aspect>
	</aop:config>

</beans:beans>