<?xml version="1.0" encoding="UTF-8"?>

<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- =================== -->
	<!-- FACES UTILS         -->
	<!-- =================== -->
	<bean id="facesUtils" class="fr.pharma.eclipse.utils.FacesUtils" />

	<!-- =================== -->
	<!-- DOC PROCESSOR 		 -->
	<!-- =================== -->
	<bean id="eclipseDocProcessor" class="fr.pharma.eclipse.utils.EclipseDocumentProcessor" />
</beans>
