<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:webflow="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd        
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/webflow-config
			http://www.springframework.org/schema/webflow-config/spring-webflow-config-3.0.xsd">

	<!-- =============================== -->
	<!-- CONTROLLER : FILE DOWNLOAD	     -->
	<!-- =============================== -->
	<bean id="fileDwdController" class="fr.pharma.eclipse.controller.file.DocumentDownloadController">
		<property name="fileInStreamFactory" ref="ioStreamsFactory" />
		<property name="streamedContentFactory" ref="defaultStreamContentFactory" />
		<property name="docService" ref="documentService" />
		<property name="library" ref="documentLibrary"/>
	</bean>
	
	<!-- ==================================== -->
	<!-- Bibliothèque des documents statiques -->
	<!-- ==================================== -->
	<bean id="documentLibrary" class="fr.pharma.eclipse.controller.file.DocumentLibrary">
		<property name="library">
			<map>
				<entry key-ref="DOCUMENT_LETTRE_AR" value="${document.lettre.ar}"/>
				<entry key-ref="DOCUMENT_CESSION_PUI" value="${document.cession.pui}"/>
			</map>
		</property>
	</bean>
	
	<!-- =================================== -->
	<!-- CONTROLLER : JASPER REPORT DOWNLOAD -->
	<!-- =================================== -->
	<bean id="jasperReportDwdController" class="fr.pharma.eclipse.controller.report.JasperReportDownloadController">
		<property name="streamedContentFactory" ref="defaultStreamContentFactory" />
		<property name="buildManagers" ref="jasperReportsMapManagers" />
	</bean>
	
	
</beans>
