<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:webflow="http://www.springframework.org/schema/webflow-config"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/webflow-config
			http://www.springframework.org/schema/webflow-config/spring-webflow-config-3.0.xsd">

    <!-- ============================= -->
	<!-- ENTITY MANAGER ECLIPSE        -->
	<!-- ============================= -->	
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    	<property name="dataSource" ref="dataSource" />
        <property name="persistenceUnitName" value="eclipse" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties">
            <props>
                <!-- dialect -->
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.connection.useUnicode">${hibernate.connection.useUnicode}</prop>
                <prop key="hibernate.connection.charSet">${hibernate.connection.characterEncoding}</prop>
                <!-- 2d level cache -->
                <prop key="hibernate.cache.use_query_cache">${hibernate.use.query.cache}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.use.second.level.cache}</prop>
                <!-- misc -->
                <prop key="hibernate.bytecode.use_reflection_optimizer">true</prop>
                <prop key="hibernate.jdbc.use_scrollable_resultset">true</prop>
                <prop key="hibernate.jdbc.use_streams_for_binary">true</prop>
                <prop key="hibernate.jdbc.fetch_size">300</prop>
                <!-- logging debug information -->
                <prop key="hibernate.show_sql">${hibernate.show.sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format.sql}</prop>
                <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
                <prop key="hibernate.use_sql_comments">${hibernate.use_sql_comments}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
            </props>
        </property>
    </bean>
    
    <!-- ============================= -->
	<!-- TRANSACTION MANAGER ECLIPSE   -->
	<!-- ============================= -->	
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
    <!-- ============================= -->
	<!-- ENTITY MANAGER SIR            -->
	<!-- ============================= -->	
    <bean id="sirEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    	<property name="dataSource" ref="dataSourceSir" />
        <property name="persistenceUnitName" value="sir" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties">
            <props>
                <!-- dialect -->
                <prop key="hibernate.dialect">${sir.hibernate.dialect}</prop>
                <prop key="hibernate.default_schema">${sir.hibernate.schema}</prop>
                <prop key="hibernate.connection.useUnicode">${sir.hibernate.connection.useUnicode}</prop>
                <prop key="hibernate.connection.charSet">${sir.hibernate.connection.characterEncoding}</prop>
                <!-- 2d level cache -->
                <prop key="hibernate.cache.use_query_cache">${sir.hibernate.use.query.cache}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${sir.hibernate.use.second.level.cache}</prop>
                <!-- misc -->
                <prop key="hibernate.bytecode.use_reflection_optimizer">true</prop>
                <prop key="hibernate.jdbc.use_scrollable_resultset">true</prop>
                <prop key="hibernate.jdbc.use_streams_for_binary">true</prop>
                <prop key="hibernate.jdbc.fetch_size">300</prop>
                <!-- logging debug information -->
                <prop key="hibernate.show_sql">${sir.hibernate.show.sql}</prop>
                <prop key="hibernate.format_sql">${sir.hibernate.format.sql}</prop>
                <prop key="hibernate.generate_statistics">${sir.hibernate.generate_statistics}</prop>
                <prop key="hibernate.use_sql_comments">${sir.hibernate.use_sql_comments}</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
            </props>
        </property>
    </bean>
    
    <!-- ============================= -->
	<!-- TRANSACTION MANAGER SIR       -->
	<!-- ============================= -->	
    <bean id="sirTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="sirEntityManagerFactory"/>
    </bean>

	<!-- Publishing session factory to be able view statistics -->
	<bean id="sessionFactory" factory-bean="entityManagerFactory" factory-method="getSessionFactory" />
	
</beans>
