<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:webflow="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/webflow-config
			http://www.springframework.org/schema/webflow-config/spring-webflow-config-3.0.xsd">

	<!-- ============================= -->
	<!-- CONVERTERS                    -->
	<!-- ============================= -->
	<!--  Promoteur  -->
	<bean id="promoteurSigrecConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="promoteurSigrecFetcher" />
		<constructor-arg index="1" ref="promoteurSigrecFactory" />
		<property name="fillers">
			<list>
				<ref bean="typePromoteurFiller" />
				<ref bean="arcPromoteurSigrecFiller" />
			</list>
		</property>
	</bean>
	<!-- ARC PROMOTEUR -->
	<bean id="arcPromoteurSigrecConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="intervenantSigrecFetcher" />
		<constructor-arg index="1" ref="arcPromoteurSigrecFactory" />
		<property name="fillers">
			<list>
				<ref bean="civiliteFiller" />
			</list>
		</property>
	</bean>


	<!-- ESSAI -->
	<bean id="essaiSigrecConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="essaiSigrecFetcher" />
		<constructor-arg index="1" ref="essaiSigrecFactory" />
		<property name="fillers">
			<list>
				<ref bean="phaseRechercheFiller" />
				<ref bean="objetRechercheFiller" />
				<ref bean="natureRechercheFiller" />
				<ref bean="typeRechercheFiller" />
				<ref bean="previsionFiller" />
				<ref bean="assuranceFiller" />
				<ref bean="qualiteInsuFiller" />
				<ref bean="croFiller" />
				<ref bean="promoteurFiller" />
				<ref bean="centreFiller" />
				<ref bean="reelFiller" />
			</list>
		</property>
	</bean>
	<!-- ASSURANCE -->
	<bean id="assuranceSigrecConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="assuranceSigrecFetcher" />
		<constructor-arg index="1" ref="assuranceSigrecFactory" />
	</bean>
	<!-- CRO -->
	<bean id="croSigrecConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="croSigrecFetcher" />
		<constructor-arg index="1" ref="croSigrecFactory" />
	</bean>
	<!-- centre -->
	<bean id="centreSigrecConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="centreSigrecFetcher" />
		<constructor-arg index="1" ref="centreSigrecFactory" />
		<property name="fillers">
			<list>
				<ref bean="investigateurFiller" />
			</list>
		</property>
	</bean>
	<!-- ARC Investigateur -->
	<bean id="arcInvestigateurSigrecConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="intervenantSigrecFetcher" />
		<constructor-arg index="1" ref="arcInvestigateurSigrecFactory" />
		<property name="fillers">
			<list>
				<ref bean="civiliteFiller" />
			</list>
		</property>
	</bean>
	<!-- Co investigateur  -->
	<bean id="coInvestigateurSigrecConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="intervenantSigrecFetcher" />
		<constructor-arg index="1" ref="coInvestigateurSigrecFactory" />
		<property name="fillers">
			<list>
				<ref bean="civiliteFiller" />
			</list>
		</property>
	</bean>
	<!-- Investigateur  -->
	<bean id="investigateurSigrecConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="intervenantSigrecFetcher" />
		<constructor-arg index="1" ref="investigateurSigrecFactory" />
		<property name="fillers">
			<list>
				<ref bean="civiliteFiller" />
			</list>
		</property>
	</bean>

	<!-- Promoteur eclipse  -->
	<bean id="promoteurEclipseConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="promoteurEclipseFetcher" />
		<constructor-arg index="1" ref="promoteurFactory" />
		<property name="fillers">
			<list>
				<ref bean="contactPromoteurEclipseFiller" />
				<ref bean="arcPromoteurEclipseFiller" />
			</list>
		</property>
	</bean>

	<!-- Contact Promoteur eclipse  -->
	<bean id="contactPromoteurEclipseConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="contactPromoteurEclipseFetcher" />
		<constructor-arg index="1" ref="contactPromoteurFactory" />
	</bean>

	<!-- ARC Promoteur eclipse  -->
	<bean id="arcPromoteurEclipseConverter" class="fr.pharma.eclipse.utils.converter.impl.GenericBeanConverter">
		<constructor-arg index="0" ref="arcPromoteurEclipseFetcher" />
		<constructor-arg index="1" ref="arcPromoteurFactory" />
	</bean>
	<!-- ============================= -->
	<!-- FETCHERS	                   -->
	<!-- ============================= -->

	<!-- ########################### -->
	<!--  			SIGREC			 -->
	<!-- ########################### -->
	<!--  Promoteur  -->
	<bean id="promoteurSigrecFetcher" class="fr.pharma.eclipse.utils.introspection.GenericFetcher">
		<property name="mapping">
			<map>
				<entry value="evSponsorSenderId" key="identifiant" />
				<entry value="sponsorContactDetails.postCode" key="contact.codePostal" />
				<entry value="sponsorContactDetails.address" key="contact.adresse" />
				<entry value="sponsorContactDetails.fax" key="contact.fax" />
				<entry value="sponsorContactDetails.telephone" key="contact.telephone" />
				<entry value="sponsorContactDetails.email" key="contact.email" />
				<entry value="sponsorContactDetails.townCity" key="contact.ville" />
				<entry value="sponsorContactDetails.organisation" key="contact.raisonSociale" />
			</map>
		</property>
	</bean>

	<!--  ARC FETCHER  -->
	<bean id="intervenantSigrecFetcher" class="fr.pharma.eclipse.utils.introspection.GenericFetcher">
		<property name="mapping">
			<map>
				<entry value="numAdeli" key="numAdeli" />
				<entry value="titre" key="titre" />
				<entry value="intervenantId" key="intervenantId" />
				<entry value="id" key="identifiant" />
				<entry value="titre" key="titre" />
				<entry value="nom" key="contact.nom" />
				<entry value="prenom" key="contact.prenom" />
			</map>
		</property>
	</bean>

	<!--  ESSAI  -->
	<bean id="essaiSigrecFetcher" class="fr.pharma.eclipse.utils.introspection.GenericFetcher">
		<property name="mapping">
			<map>
				<entry value="trialIdentification.abbreviatedTitleTrial.value"
					key="nom" />
				<entry value="trialIdentification.eudractNumber" key="numIdentificationAC" />
				<entry value="trialInterneIdentification" key="codePromoteur" />
				<entry value="trialSigrecIdentification" key="detailRecherche.numEnregistrement" />
				<entry value="trialIdentification.fullTitleTrial" key="detailRecherche.titreProtocole" />
			</map>
		</property>
	</bean>
	<!-- ASSURANCE -->
	<bean id="assuranceSigrecFetcher" class="fr.pharma.eclipse.utils.introspection.GenericFetcher">
		<property name="mapping">
			<map>
				<entry value="insurancePolicyNumber.value" key="numeroContrat" />
				<entry value="givenName.value" key="contact.raisonSociale" />
				<entry value="adress" key="contact.adresse" />
				<entry value="townCity" key="contact.ville" />
				<entry value="postCode" key="contact.codePostal" />
			</map>
		</property>
	</bean>
	<!-- CRO -->
	<bean id="croSigrecFetcher" class="fr.pharma.eclipse.utils.introspection.GenericFetcher">
		<property name="mapping">
			<map>
				<entry value="givenName" key="contact.raisonSociale" />
				<entry value="adress" key="contact.adresse" />
				<entry value="townCity" key="contact.ville" />
				<entry value="postCode" key="contact.codePostal" />
				<entry value="nationalId" key="identifiant" />
			</map>
		</property>
	</bean>
	<!-- Centre -->
	<bean id="centreSigrecFetcher" class="fr.pharma.eclipse.utils.introspection.GenericFetcher">
		<property name="mapping">
			<map>
				<entry value="invId" key="idCentre" />
				<entry value="institutionName" key="nom" />
				<entry value="institutionFiness" key="numeroFiness" />
				<entry value="sponsorInvestigatorNumber" key="numero" />
				<entry value="contactDetails.postCode" key="contact.codePostal" />
				<entry value="contactDetails.address" key="contact.adresse" />
				<entry value="contactDetails.fax" key="contact.fax" />
				<entry value="contactDetails.telephone" key="contact.telephone" />
				<entry value="contactDetails.email" key="contact.email" />
				<entry value="contactDetails.townCity" key="contact.ville" />
				<entry value="contactDetails.organisation" key="contact.raisonSociale" />
			</map>
		</property>
	</bean>
	
	<!-- ########################### -->
	<!--  			ECLIPSE			 -->
	<!-- ########################### -->
	<!--  Promoteur Eclipse  -->
	<bean id="promoteurEclipseFetcher" class="fr.pharma.eclipse.utils.introspection.GenericFetcher">
		<property name="mapping">
			<map>
				<entry value="identifiant" key="identifiant" />
				<entry value="contact.raisonSociale" key="raisonSociale" />
				<entry value="type" key="type" />
			</map>
		</property>
	</bean>
	<!--  ARC Promoteur Eclipse  -->
	<bean id="arcPromoteurEclipseFetcher" class="fr.pharma.eclipse.utils.introspection.GenericFetcher">
		<property name="mapping">
			<map>
				<entry value="contact.codePostal" key="codePostal" />
				<entry value="contact.adresse" key="adresse" />
				<entry value="contact.fax" key="fax" />
				<entry value="contact.telephone" key="telephone" />
				<entry value="contact.email" key="mail" />
				<entry value="contact.ville" key="ville" />
				<entry value="contact.nom" key="nom" />
				<entry value="contact.prenom" key="prenom" />
			</map>
		</property>
	</bean>
	<!--  Contact Promoteur Eclipse  -->
	<bean id="contactPromoteurEclipseFetcher" class="fr.pharma.eclipse.utils.introspection.GenericFetcher">
		<property name="mapping">
			<map>
				<entry value="codePostal" key="codePostal" />
				<entry value="adresse" key="adresse" />
				<entry value="fax" key="fax" />
				<entry value="telephone" key="telephone" />
				<entry value="email" key="mail" />
				<entry value="ville" key="ville" />
				<entry value="nom" key="nom" />
				<entry value="prenom" key="prenom" />
				<entry value="raisonSociale" key="nom" />
			</map>
		</property>
	</bean>
</beans>