<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:webflow="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/webflow-config
			http://www.springframework.org/schema/webflow-config/spring-webflow-config-3.0.xsd">

	<!-- ####################### -->
	<!-- 		SIGREC			 -->
	<!-- ####################### -->

	<bean id="civiliteFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.CiviliteFiller" />

	<!-- Promoteur -->
	<bean id="typePromoteurFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.promoteur.TypePromoteurFiller" />
	<bean id="arcPromoteurSigrecFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.promoteur.ARCFiller" />

	<!--  Essais -->
	<bean id="phaseRechercheFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.PhaseRechercheFiller" />
	<bean id="objetRechercheFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.ObjetRechercheFiller" />
	<bean id="natureRechercheFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.NatureRechercheFiller" />
	<bean id="typeRechercheFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.TypeRechercheFiller" />
	<bean id="previsionFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.PrevisionFiller" />
	<bean id="qualiteInsuFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.QualiteInsuFiller" />
	<bean id="assuranceFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.AssuranceFiller" />
	<bean id="croFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.CROFiller" />
	<bean id="centreFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.CentreFiller" />
	<bean id="investigateurFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.InvestigateurFiller" />
	<bean id="promoteurFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.PromoteurFiller" />
	<bean id="reelFiller"
		class="fr.pharma.eclipse.filler.impl.sigrec.essai.ReelFiller" />

	<!-- ####################### -->
	<!-- 		ECLIPSE			 -->
	<!-- ####################### -->
	
	<bean id="contactPromoteurEclipseFiller"
		class="fr.pharma.eclipse.filler.impl.eclipse.ContactPromoteurFiller" />
		
	<bean id="arcPromoteurEclipseFiller"
		class="fr.pharma.eclipse.filler.impl.eclipse.ARCPromoteurFiller" />
		
	<!-- ####################### -->
	<!-- 		HELPER			 -->
	<!-- ####################### -->
	<bean id="booleanFillerHelper"
		class="fr.pharma.eclipse.filler.helper.BooleanFillerHelper" />
</beans>