<?xml version="1.0" encoding="UTF-8"?>
    <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<!-- Application name -->
	<display-name>ECLIPSE - Essais Cliniques sur les Produits de Sante Experimentaux</display-name>

	<context-param>
        <param-name>contextConfigLocation</param-name>
    	<param-value>
            classpath:/config/applicationContext-eclipse.xml
    	</param-value>
    </context-param>
    
	<context-param>
		<param-name>com.sun.faces.expressionFactory</param-name>
		<param-value>org.jboss.el.ExpressionFactoryImpl</param-value>
	</context-param>
    
	<!-- Use JSF view templates saved as *.xhtml, for use with Facelets -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	
	<!-- Enables special Facelets debug output during development -->
  	<context-param>
        <param-name>javax.faces.DEVELOPMENT</param-name>
   		<param-value>false</param-value>
  	</context-param>
  	
  	<!-- Causes Facelets to refresh templates during development -->
  	<context-param>
  		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
  		<param-value>1</param-value>
  	</context-param>
  	
  	<!-- Security for Facelets components -->
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/spring-security.taglib.xml;/WEB-INF/elips.taglib.xml</param-value>
	</context-param>
	
	<!-- Causes Facelets to ignore comments in XHTML files -->
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- Paramétrage nécessaire au bon fonctionnement d'upload de fichier -->
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	
	<!-- Paramétrage de la locale -->
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param> 
	
	<!-- Disable Partial State Saving -->
	<context-param>
		<param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- Mode Project Development -->
 	<context-param>
       <param-name>javax.faces.PROJECT_STAGE</param-name>
  		<param-value>Production</param-value>
 	</context-param>
 	
 	<context-param>
 		<param-name>com.sun.faces.defaultResourceMaxAge</param-name>
 		<param-value>1204800</param-value>
 	</context-param>

	<!-- Param for Primefaces -->	
	<context-param>
		<param-name>com.sun.faces.allowTextChildren</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- Skin for Primefaces -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>none</param-value>
	</context-param>	
	
	<context-param>
		<param-name>com.sun.faces.externalizeJavaScript</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>com.sun.faces.compressJavaScript</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- Servlet Resource -->
<!--	<servlet>-->
<!--		<servlet-name>Resource Servlet</servlet-name>-->
<!--		<servlet-class>org.primefaces.resource.ResourceServlet</servlet-class>-->
<!--	</servlet>-->
	
	<!-- Mapping for the servlet resource dispatching -->
<!--	<servlet-mapping>-->
<!--		<servlet-name>Resource Servlet</servlet-name>-->
<!--		<url-pattern>/primefaces_resource/*</url-pattern>-->
<!--	</servlet-mapping>    -->
    
	<!-- The front controller of this Spring Web application, responsible for handling all application requests -->
	<servlet>
		<servlet-name>Spring Web MVC Dispatcher Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/classes/config/dispatcher-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<!-- Map all /flows requests to the Dispatcher Servlet for handling -->
	<servlet-mapping>
		<servlet-name>Spring Web MVC Dispatcher Servlet</servlet-name>
		<url-pattern>/flows/*</url-pattern>
	</servlet-mapping>
		
	<!-- Map all /flows requests to the Dispatcher Servlet for handling -->
	<servlet-mapping>
		<servlet-name>Spring Web MVC Dispatcher Servlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<!-- Just here so the JSF implementation can initialize, *not* used at runtime -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Just here so the JSF implementation can initialize -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
        <url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<!-- Filter Apache MyFaces Tomahawk (upload file) -->
	<filter>
	    <filter-name>Tomahawk Filter</filter-name>
	        <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
	        <init-param>
	                <description>Set the size limit for uploaded files.
	                       Format: 10 - 10 bytes
	                      10k - 10 KB
	                      10m - 10 MB
	                      1g - 1 GB
	                </description>
	                <param-name>uploadMaxFileSize</param-name>
	                <param-value>20m</param-value>
	        </init-param><!-- 
	        <init-param>
	                <description>Set the threshold size - files below this limit are stored
				     in memory, files above this limit are stored on disk.
	                         Format: 10 - 10 bytes
	                         10k - 10 KB
	                         10m - 10 MB
	                         1g - 1 GB
	                 </description>
	                 <param-name>uploadThresholdSize</param-name>
	                 <param-value>100k</param-value>
	         </init-param> -->
	</filter> 
	
	<filter>
        <filter-name>Log4jNestedDiagnosticContextFilter</filter-name>
        <filter-class>org.springframework.web.filter.Log4jNestedDiagnosticContextFilter</filter-class>
        <init-param>
        	<param-name>includeClientInfo</param-name>
        	<param-value>true</param-value>
        </init-param>
    </filter>
    
    <filter>
    	<filter-name>JsfProfilerFilter</filter-name>
    	<filter-class>fr.pharma.eclipse.profiling.JsfProfilerFilter</filter-class>
    </filter>  
    
    <filter-mapping>
        <filter-name>Log4jNestedDiagnosticContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>JsfProfilerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> 
    
	<filter-mapping>
	         <filter-name>Tomahawk Filter</filter-name>
	         <url-pattern>*.jsf</url-pattern>
	</filter-mapping>
	<filter-mapping>
	          <filter-name>Tomahawk Filter</filter-name>
	          <url-pattern>/faces/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	          <filter-name>Tomahawk Filter</filter-name>
	          <url-pattern>*.faces</url-pattern>
	</filter-mapping>
	<!--
    <filter-mapping>
        <filter-name>Tomahawk Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping> -->
    <filter-mapping>
        <filter-name>Tomahawk Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	
	
	<!-- Filtre pour le téléchargement des fichiers avec PrimeFaces 
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping> -->
	
	<!-- Encoding UTF-8 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<!-- OpenEntityManagerInViewFilter -->
	<filter> 
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	
	<!-- OpenEntityManagerInViewFilter -->
	<filter-mapping>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<!-- Spring security -->
    <filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <listener>
    	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

<!--     <listener> -->
<!--     	<listener-class>fr.pharma.eclipse.listener.SLF4JBridgeHandlerListener</listener-class> -->
<!-- 	</listener> -->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
	<listener>
  		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>requestContextFilter</filter-name>
		<filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>requestContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    
	<!-- Page accueil -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Mapping for the servlet error pages -->
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsf</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsf</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/401.jsf</location>
	</error-page>
	<error-page>
		<exception-type>org.springframework.webflow.execution.repository.snapshot.SnapshotNotFoundException</exception-type>
		<location>/error-page-expiree.jsf</location>
	</error-page>
	<error-page>
		<exception-type>org.springframework.webflow.execution.repository.FlowExecutionRestorationFailureException</exception-type>
		<location>/error-page-expiree.jsf</location>
	</error-page>

	<session-config>
      <session-timeout>60</session-timeout> 
    </session-config>

</web-app>
