<?xml version="1.0" encoding="UTF-8"?>

<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">			
			

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" >
        <constructor-arg type="javax.sql.DataSource">
            <ref bean="dataSource"></ref>
        </constructor-arg>
    </bean>
    <!-- ============================= -->
    <!-- ESSAI SIGREC                  -->
    <!-- ============================= -->		
    <bean id="essaiExterneService" parent="commonService">
        <constructor-arg index="0" ref="essaiExterneDao"/>
    </bean>
    <bean id="essaiSigrecService" parent="essaiExterneService"/>

    <!-- ============================= -->
    <!-- ESSAI SIGREC                  -->
    <!-- ============================= -->		
    <bean id="essaiExterneDao" class="fr.pharma.eclipse.externe.EssaiExterneDao">
        <constructor-arg index="0" ref="jdbcTemplate"/>
    </bean>    
    <!-- ======================================== -->
    <!-- CRITERE DE RECHERCHE : ESSAI    SIGREC   -->
    <!-- ======================================== -->
    <bean id="essaiExterneSearchCriteria"
          class="fr.pharma.eclipse.externe.EssaiExterneSearchCriteria"
          scope="session">
        <property name="activeOrder" value="nom" />
    </bean>
    <bean id="essaiSigrecSearchCriteria" parent="essaiExterneSearchCriteria"/>

    <bean id="pageRepertoireExterne" class="java.lang.String">
        <constructor-arg value="#{${import.externe.active}?'repertoireEssaisExterne':'repertoireEssaisSigrec'}" />
    </bean> 
  

      
    <!-- ####################### -->
    <!-- 		CONVERTERS		 -->
    <!-- ####################### -->
    <!-- Essai -->
    <bean id="essaiBeanConverter"
          class="fr.pharma.eclipse.utils.converter.impl.EssaiBeanConverter">
        <constructor-arg index="0" ref="essaiFetcher" />
        <constructor-arg index="1" ref="essaiFactory" />
        <property name="fillers">
            <list>
                <ref bean="promoteurFiller" />
                <ref bean="investigateurFiller" />
                <ref bean="assuranceFiller" />
                <ref bean="serviceFiller" />
            </list>
        </property>
    </bean>

    <bean id="serviceFiller" class="fr.pharma.eclipse.externe.ServiceFiller" />
</beans>
