@charset "utf-8";
/* CSS Document */

body
{
	margin:0px;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:21px;
	text-align: center;
}

h1
{
	text-align:left;
	font-size:22px;
	text-transform:uppercase;
	color:#5db677;
	background-image:url('../images/titre_h1.jpg');
	background-repeat:no-repeat;
	width:950px;
	height:29px; 
	padding: 2px 0 0 20px;
	margin:20px 0 0 0;
	/height:31px;
	/width:960px;
}

a 
{
	text-decoration:none;	
}

img
{
	border:none;
}

input, select, textarea
{
	font-size:12px;
}

table
{
	color:#f05f23;
	background-color:#ededed;
}

table.big table td
{
	padding:5px;
}

table.big input, table.big select
{
	width:200px;
}

table.big  textarea
{
	width:775px;
}


table.big
{
	width:960px;
	margin: 0px 0 10px 0;
	padding:15px;
	float:left;
	border: 1px #d56e08 solid;
}

td.box
{
	width:480px;
}


td.label
{
	text-align:right;
	width:120px;
}

fieldset
{	
	border:none;
	margin:0px 0 0 0;
	padding:0;
}

.header
{
	background-image:url('../images/bckgd_header.png');
	background-repeat:repeat-x;
	width:100%;
	height:116px;
	text-align:center;
	padding:0;
}

.header .banner
{
	background-image:url('../images/bandeau_head.jpg');
	background-repeat:no-repeat;
	background-position:right;
	width:1000px;
	height:116px;
	margin:0 auto;
	text-align:left;
	padding:0;
}

.main
{
	width:1000px;
	height:116px;
	margin:0 auto;
	margin-bottom:20px;
	padding:0px 0 0 0;
}

.logo
{
	float:left;
}

table.loginTab
{
	width:350px;
	border: 1px #d56e08 solid;
}

table.loginTab th
{
	text-align:left;
	color:#666666;
	background-color:white;
	background-image:url('../images/grd_TH.jpg');
	background-repeat:repeat-x;
}


table.loginTab th, table.loginTab td
{
	padding:5px;
	font-size: 12px;
}

table.loginTab button
{
	background-image:url('../images/bckgd_butt.jpg');
	background-repeat : repeat-x;
	background-position : 0 0;
	display:block;
	color:white;
	font-weight: bold;
	text-align:center;
	border-color: #D4D0C8;
}
	
table.loginTab button span{
	background-image:url('../images/bckgd_butt.jpg'); 
	background-repeat : repeat-x;
	background-position : 0 0;
	width: 100%;
}



