<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:webflow="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd        
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/webflow-config
			http://www.springframework.org/schema/webflow-config/spring-webflow-config-3.0.xsd">

	<!-- ================== -->
	<!-- HELPER MANAGER     -->
	<!-- ================== -->
	<bean id="beanManagerHelper" class="fr.pharma.eclipse.component.helper.BeanManagerHelper">
		<property name="beanHelper" ref="commonServicesHelper" />
	</bean>

	<!-- ================== -->
	<!-- PHARMACIE MANAGER  -->
	<!-- ================== -->
	<bean id="pharmacieManager" class="fr.pharma.eclipse.component.stockage.PharmacieManager"
		scope="prototype">
		<constructor-arg index="0" ref="pharmacieService" />
	</bean>

	<!-- ================== -->
	<!-- PHARMACIES MANAGER -->
	<!-- ================== -->
	<bean id="pharmaciesManager" class="fr.pharma.eclipse.component.BeansManager"
		scope="prototype">
		<constructor-arg index="0" ref="pharmacieSearchCriteria" />
	</bean>

	<!-- ====================== -->
	<!-- ETABLISSEMENT MANAGER  -->
	<!-- ====================== -->
	<bean id="etablissementManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="etablissementService" />
	</bean>

	<!-- ====================== -->
	<!-- ETABLISSEMENTS MANAGER -->
	<!-- ====================== -->
	<bean id="etablissementsManager" class="fr.pharma.eclipse.component.BeansManager"
		scope="prototype">
		<constructor-arg index="0" ref="etablissementSearchCriteria" />
	</bean>

	<!-- ====================== -->
	<!-- SITE MANAGER           -->
	<!-- ====================== -->
	<bean id="siteManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="siteService" />
	</bean>

	<!-- ====================== -->
	<!-- SITES MANAGER          -->
	<!-- ====================== -->
	<bean id="sitesManager" class="fr.pharma.eclipse.component.BeansManager"
		scope="prototype">
		<constructor-arg index="0" ref="siteSearchCriteria" />
	</bean>

	<!-- ====================== -->
	<!-- SERVICE MANAGER        -->
	<!-- ====================== -->
	<bean id="serviceManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="serviceService" />
	</bean>
	<bean id="autoCompleteServiceManager" class="fr.pharma.eclipse.component.AutoCompleteBeansManager"
		scope="prototype">
		<property name="searchCriteria" ref="serviceSearchCriteria" />
		<property name="service" ref="serviceService" />
	</bean>

	<!-- ====================== -->
	<!-- SERVICES MANAGER       -->
	<!-- ====================== -->
	<bean id="servicesManager" class="fr.pharma.eclipse.component.BeansManager"
		scope="prototype">
		<constructor-arg index="0" ref="serviceSearchCriteria" />
	</bean>

	<!-- ====================== -->
	<!-- PROMOTEUR MANAGER      -->
	<!-- ====================== -->
	<bean id="promoteurManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="promoteurService" />
	</bean>
	<bean id="autoCompletePromoteurManager" class="fr.pharma.eclipse.component.AutoCompleteBeansManager"
		scope="prototype">
		<property name="searchCriteria" ref="promoteurSearchCriteria" />
		<property name="service" ref="promoteurService" />
	</bean>

	<!-- ====================== -->
	<!-- PROMOTEURS MANAGER     -->
	<!-- ====================== -->
	<bean id="promoteursManager" class="fr.pharma.eclipse.component.BeansManager"
		scope="prototype">
		<constructor-arg index="0" ref="promoteurSearchCriteria" />
	</bean>

	<!-- ====================== -->
	<!-- POLE MANAGER           -->
	<!-- ====================== -->
	<bean id="poleManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="poleService" />
	</bean>

	<!-- ====================== -->
	<!-- POLES MANAGER          -->
	<!-- ====================== -->
	<bean id="polesManager" class="fr.pharma.eclipse.component.BeansManager"
		scope="prototype">
		<constructor-arg index="0" ref="poleSearchCriteria" />
	</bean>

	<!-- ====================== -->
	<!-- INVESTIGATEUR MANAGER  -->
	<!-- ====================== -->
	<bean id="investigateurManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="investigateurService" />
	</bean>
	<bean id="autoCompleteInvestigateurManager" class="fr.pharma.eclipse.component.AutoCompleteBeansManager"
		scope="prototype">
		<property name="searchCriteria" ref="personneSearchCriteria" />
		<property name="service" ref="investigateurService" />
	</bean>

	<!-- ====================== -->
	<!-- ARC PROMOTEUR MANAGER  -->
	<!-- ====================== -->
	<bean id="arcPromoteurManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="arcPromoteurService" />
	</bean>

	<!-- ========================== -->
	<!-- ARC INVESTIGATEUR MANAGER  -->
	<!-- ========================== -->
	<bean id="arcInvestigateurManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="arcInvestigateurService" />
	</bean>

	<!-- ========================== -->
	<!-- PHARMACIEN MANAGER         -->
	<!-- ========================== -->
	<bean id="pharmacienManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="pharmacienService" />
	</bean>

	<!-- ========================== -->
	<!-- CRO MANAGER                -->
	<!-- ========================== -->
	<bean id="croManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="croService" />
	</bean>

	<!-- ============================ -->
	<!-- DIRECTION RECHERCHE MANAGER  -->
	<!-- ============================ -->
	<bean id="directionRechercheManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="directionRechercheService" />
	</bean>

	<!-- ========================== -->
	<!-- CONTACT PROMOTEUR MANAGER  -->
	<!-- ========================== -->
	<bean id="contactPromoteurManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="contactPromoteurService" />
	</bean>

	<!-- ====================== -->
	<!-- PERSONNES MANAGER      -->
	<!-- ====================== -->
	<bean id="personnesManager" class="fr.pharma.eclipse.component.acteur.PersonnesManager"
		scope="prototype">
		<constructor-arg index="0" ref="personneSearchCriteria" />
	</bean>

	<!-- ================================== -->
	<!-- COMMENTAIRE ESSAI MANAGER          -->
	<!-- ================================== -->
	<bean id="commentaireRechercheEssaiManager" class="fr.pharma.eclipse.component.essai.GenericCommentaireManager"
		scope="prototype">
		<constructor-arg index="0" value="RECHERCHE" />
		<property name="factory" ref="commentaireEssaiRechercheWithParentFactory" />
	</bean>
	
	<!-- ====================== -->
	<!-- ESSAI MANAGER          -->
	<!-- ====================== -->
	<bean id="dicoDernieresModifsEssai"
		class="fr.pharma.eclipse.component.essai.helper.DicoSuivisEssai"
		scope="prototype">
		<property name="helper" ref="beanManagerHelper" />
	</bean>
	<bean id="essaiManager" class="fr.pharma.eclipse.component.essai.EssaiManager"
		scope="prototype">
		<constructor-arg index="0" ref="essaiService" />
		<property name="helper" ref="beanManagerHelper" />
		<property name="dicoDernieresModifs" ref="dicoDernieresModifsEssai" />
		<property name="commentairesManagers">
			<map>
				<entry key="RECHERCHE" value-ref="commentaireRechercheEssaiManager" />
			</map>
		</property>
	</bean>

	<!-- ====================== -->
	<!-- ESSAI MANAGER          -->
	<!-- ====================== -->
	<bean id="essaisManager" class="fr.pharma.eclipse.component.BeansManager"
		scope="prototype">
		<constructor-arg index="0" ref="essaiSearchCriteria" />
	</bean>
	<bean id="essaiSigrecManager" class="fr.pharma.eclipse.component.BeanManager"
		scope="prototype">
		<constructor-arg index="0" ref="essaiSigrecService" />
	</bean>

	<!-- ====================== -->
	<!-- ESSAIS MANAGER SIGREC  -->
	<!-- ====================== -->
	<bean id="essaisSigrecManager" class="fr.pharma.eclipse.component.BeansManager"
		scope="prototype">
		<constructor-arg index="0" ref="essaiSigrecSearchCriteria" />
	</bean>

	<!-- ========================== -->
	<!-- PROMOTEUR SIGREC MANAGER	-->
	<!-- ========================== -->
	<bean id="autoCompletePromoteurSigrecManager" class="fr.pharma.eclipse.component.AutoCompleteBeansManager"
		scope="prototype">
		<property name="searchCriteria" ref="promoteurSigrecSearchCriteria" />
		<property name="service" ref="promoteurSigrecService" />
	</bean>

	<!-- ====================== -->
	<!-- INVESTIGATEUR MANAGER  -->
	<!-- ====================== -->
<!--	<bean id="autoCompleteInvestigateurSigrecManager" class="fr.pharma.eclipse.component.AutoCompleteBeansManager"-->
<!--		scope="prototype">-->
<!--		<property name="searchCriteria" ref="investigateurSigrecSearchCriteria" />-->
<!--		<property name="service" ref="investigateurSigrecService" />-->
<!--	</bean>-->
</beans>
