<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- ============================= -->
	<!-- COMMON                        -->
	<!-- ============================= -->					
	<bean id="commonSirService" abstract="true" class="fr.pharma.eclipse.service.sir.impl.GenericSirServiceImpl"/>
	
	<!-- ============================= -->
	<!-- PERSONNE                      -->
	<!-- ============================= -->		
	<bean id="passwordSirEncoder" class="fr.pharma.eclipse.utils.Md5SirPasswordEncoder" />
	<bean id="personneSirService" parent="commonSirService">
		<constructor-arg index="0" ref="personneSirDao" />
	</bean>
	
</beans>
