<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	
	
	<util:list id="caches" list-class="java.util.ArrayList">
		<ref bean="cacheUtilsPreparation" />
	</util:list>
	
 	<bean id="cacheUtilsPreparation" class="fr.pharma.eclipse.utils.CacheUtils">
 		<property name="typeCache" value="preparation" />
 	</bean>

 	<bean id="cacheManager" class="net.sf.ehcache.CacheManager" />
			
</beans>