<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<!-- ============================= -->
	<!-- DOCS : RESOLVERS 			   -->
	<!-- ============================= -->
	<bean id="abstractDocEclipseResolver" abstract="true" 
		class="fr.pharma.eclipse.service.document.resolver.impl.AbstractDocEclipseFileNameResolver">
		<constructor-arg index="0" value="${files.documents}" />
	</bean>
	<bean id="docsEssaiFileNameResolver" parent="abstractDocEclipseResolver"
		class="fr.pharma.eclipse.service.document.resolver.impl.DocEssaiFileNameResolver" />
	<bean id="docsProduitFileNameResolver" parent="abstractDocEclipseResolver"
		class="fr.pharma.eclipse.service.document.resolver.impl.DocProduitFileNameResolver" />
	<bean id="docsStockFileNameResolver" parent="abstractDocEclipseResolver"
		class="fr.pharma.eclipse.service.document.resolver.impl.DocStockFileNameResolver" />
	<bean id="docsPharmacienFileNameResolver" parent="abstractDocEclipseResolver"
		class="fr.pharma.eclipse.service.document.resolver.impl.DocPharmacienFileNameResolver" />
	
	<!-- ============================= -->
	<!-- DOCS : FILE BUILDER		   -->
	<!-- ============================= -->
	<bean id="fileDocBuilder" class="fr.pharma.eclipse.service.document.builder.FileDocumentBuilder">
		<property name="fileHelper" ref="fileHelper" />
		<property name="resolvers">
			<list>
				<ref bean="docsEssaiFileNameResolver" />
				<ref bean="docsProduitFileNameResolver" />
				<ref bean="docsStockFileNameResolver" />
				<ref bean="docsPharmacienFileNameResolver" />
			</list>
		</property>
	</bean>
	
	<!-- ============================= -->
	<!-- DOCS : SERVICE				   -->
	<!-- ============================= -->
	<bean id="documentService" class="fr.pharma.eclipse.service.document.DocumentServiceImpl">
		<constructor-arg  index="0" ref="documentDao"/>
		<property name="fileHelper" ref="fileHelper" />
		<property name="fileBuilder" ref="fileDocBuilder" />
	</bean>
</beans>
