<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<import resource="classpath:/config/applicationContext-comparator.xml" />
	<import resource="classpath:/config/applicationContext-criteriaDictionary.xml" />
	<import resource="classpath:/config/applicationContext-criteriaMaker.xml" />
	<import resource="classpath:/config/applicationContext-dao.xml" />
    <import resource="classpath:/config/applicationContext-service.xml" />
    <import resource="classpath:/config/applicationContext-commonValidator.xml" />
    <import resource="classpath:/config/applicationContext-service-docs.xml" />
    <import resource="classpath:/config/applicationContext-updator.xml" />
    <import resource="classpath:/config/applicationContext-predicate.xml" />
    <import resource="classpath:/config/applicationContext-factory.xml" />
    <import resource="classpath:/config/applicationContext-factory-docs.xml" />
    <import resource="classpath:/config/applicationContext-factory-comments.xml" />
    <import resource="classpath:/config/applicationContext-removeValidator.xml" />
    <import resource="classpath:/config/applicationContext-saveValidator.xml" />
    <import resource="classpath:/config/applicationContext-enums.xml" />
    <import resource="classpath:/config/applicationContext-message.xml" />
    <import resource="classpath:/config/applicationContext-beanConverter.xml" />
    <import resource="classpath:/config/applicationContext-jasperReport.xml" />
    <import resource="classpath:/config/applicationContext-conseilDispensation.xml"/>
    <import resource="classpath:/config/applicationContext-surcout.xml" />
    <import resource="classpath:/config/applicationContext-poi.xml" />
    <import resource="classpath:/config/applicationContext-indicateur.xml" />
			
</beans>